* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #205b7a;
}

.main {
  display: flex;
  justify-content: center;
  margin: 10vh 0;
}

.main-block {
  height: 80vh;
  width: 320px;
  border-radius: 15px;
  background-color: #1d3849;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 20px;
}

.input {
  height: 50px;
  width: 80%;
  border-radius: 5px;
  margin: 30px;
  font-size: 25px;
  display: block;
  border: none;
}

.button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #a2bbcf;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multiply {
  font-size: 30px;
}
